/* Centered box styling */
@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    
}

.container {
    width: 400px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    font-family: "Winky Sans", sans-serif;
}

.results {
    margin-top: 20px;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    display: flex;
    justify-self: center
}

input {
    margin-top: 20px;
    height: 30px;
    width: 80%;
}

img {
    width: 100px;
    height: 100px;
}